DEBIAN_ARC_IP={{ debian_arc_ip }}
TIMEZONE={{ debian_arc_timezone }}
RENDER_GID={{ ansible_facts.getent_group.render[1] }}
JELLYFIN_UID={{ jellyfin_uid }}
JELLYFIN_GID={{ jellyfin_gid }}
JELLYFIN_MEDIA_PATH={{ jellyfin_media_path }}
IMMICH_MACHINE_LEARNING_VERSION={{ immich_machine_learning_version }}
NEXTCLOUD_TALK_RECORDING_VERSION={{ nextcloud_talk_recording_version }}
JELLYFIN_VERSION={{ jellyfin_version }}
DOCLING_SERVE_VERSION={{ docling_serve_version }}
INTEL_PYTORCH_XPU_IMAGE={{ intel_pytorch_xpu_image }}
IMMICH_MACHINE_LEARNING_PORT={{ immich_machine_learning_port }}
NEXTCLOUD_TALK_RECORDING_PORT={{ nextcloud_talk_recording_port }}
DOCLING_SERVE_PORT={{ docling_serve_port }}
NEXTCLOUD_HOST={{ nextcloud_host }}
NEXTCLOUD_TALK_HOST={{ nextcloud_talk_host }}
NEXTCLOUD_TALK_RECORDING_SECRET={{ vault_nextcloud_talk_recording_secret }}
NEXTCLOUD_TALK_INTERNAL_SECRET={{ vault_nextcloud_talk_internal_secret }}
DOCLING_API_KEY={{ vault_docling_api_key }}
