SECRET_KEY='{{ vault_homelable_secret_key }}'
OIDC_CLIENT_SECRET='{{ vault_homelable_oidc_client_secret }}'
MCP_SERVICE_KEY='{{ vault_homelable_mcp_service_key }}'
SQLITE_PATH='/app/data/homelab.db'
UPLOAD_DIR='/app/data/uploads'
AUTH_MODE='oidc'
AUTH_PASSWORD_HASH=''
OIDC_CLIENT_ID='homelable'
OIDC_DISCOVERY_URL='{{ homelable_authentik_origin }}/application/o/homelable/.well-known/openid-configuration'
OIDC_REDIRECT_URI='{{ homelable_origin }}/api/v1/auth/oidc/callback'
OIDC_SCOPES='openid profile email'
OIDC_COOKIE_SECURE='true'
OIDC_SESSION_EXPIRE_MINUTES='480'
CORS_ORIGINS='["{{ homelable_origin }}"]'
SCANNER_RANGES='{{ homelable_scan_ranges | to_json }}'
SCANNER_HTTP_RANGES='{{ homelable_http_ports | to_json }}'
SCANNER_HTTP_PROBE_ENABLED='true'
SCANNER_HTTP_VERIFY_TLS='true'
STATUS_CHECKER_INTERVAL='60'
PROXMOX_TOKEN_ID='{{ vault_homelable_proxmox_token_id }}'
PROXMOX_TOKEN_SECRET='{{ vault_homelable_proxmox_token_secret }}'
PROXMOX_HOST='{{ homelable_proxmox_host }}'
PROXMOX_PORT='8006'
PROXMOX_VERIFY_TLS='true'
SSL_CERT_FILE='/app/ca-bundle.crt'
