HOMELABLE_VERSION={{ homelable_version }}
HOMELABLE_BACKEND_BIND={{ homelable_backend_bind }}
HOMELABLE_FRONTEND_BIND={{ homelable_frontend_bind }}
HOMELABLE_FRONTEND_PORT={{ homelable_frontend_port }}
HOMELABLE_MCP_PORT={{ homelable_mcp_port }}
HOMELABLE_PROXMOX_HOST={{ homelable_proxmox_host }}
HOMELABLE_PROXMOX_IP={{ homelable_proxmox_ip }}
