DEBIAN_LEFT_IP={{ debian_left_ip }}
NEXTCLOUD_URL=https://{{ nextcloud_host }}
NEXTCLOUD_LIVE_TRANSCRIPTION_IMAGE={{ nextcloud_live_transcription_image }}
NEXTCLOUD_LIVE_TRANSCRIPTION_VERSION={{ nextcloud_live_transcription_version }}
NEXTCLOUD_LIVE_TRANSCRIPTION_PORT={{ nextcloud_live_transcription_port }}
NEXTCLOUD_LIVE_TRANSCRIPTION_WORKERS={{ nextcloud_live_transcription_workers }}
NEXTCLOUD_LIVE_TRANSCRIPTION_APP_SECRET={{ vault_nextcloud_live_transcription_app_secret }}
NEXTCLOUD_TALK_HPB_URL=wss://{{ nextcloud_talk_host }}/spreed
NEXTCLOUD_TALK_INTERNAL_SECRET={{ nextcloud_talk_internal_secret }}
