# Talos secrets
talosconfig
kubeconfig
*.secret.yaml
.env
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
.terraform/
*.tfvars.local
*.pem
*.key
*.crt
*.lock.hcl
sealed-secrets-priv-key.yaml
AGENTS.md