# Talos secrets
infrastructure/talos/talosconfig
infrastructure/talos/kubeconfig
infrastructure/talos/controlplane.yaml
infrastructure/talos/worker.yaml
*.secret.yaml
.env
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
.terraform/
*.tfvars.local
*.pem
*.key
*.crt