DEBIAN_RTX_IP={{ debian_rtx_ip }}
LLAMA_SWAP_IMAGE={{ llama_swap_image }}
LLAMA_BASELINE_RESTORER_IMAGE={{ llama_baseline_restorer_image }}
LLAMA_CPP_API_KEY={{ vault_llama_cpp_api_key }}
LLAMA_CPP_PORT={{ llama_cpp_port }}
SPEACHES_IMAGE={{ speaches_image }}
SPEACHES_PORT={{ speaches_port }}
