DEBIAN_RTX_IP={{ debian_rtx_ip }}
LLAMA_CPP_IMAGE={{ llama_cpp_image }}
LLAMA_CPP_PORT={{ llama_cpp_port }}
NEXTCLOUD_URL=https://{{ nextcloud_host }}
NEXTCLOUD_TRANSLATE2_IMAGE={{ nextcloud_translate2_image }}
NEXTCLOUD_TRANSLATE2_VERSION={{ nextcloud_translate2_version }}
NEXTCLOUD_TRANSLATE2_PORT={{ nextcloud_translate2_port }}
NEXTCLOUD_TRANSLATE2_APP_SECRET={{ vault_nextcloud_translate2_app_secret }}
