DEBIAN_RTX_IP={{ debian_rtx_ip }}
LLAMA_CPP_IMAGE={{ llama_cpp_image }}
LLAMA_CPP_PORT={{ llama_cpp_port }}
NEXTCLOUD_URL=https://{{ nextcloud_host }}
NEXTCLOUD_HARP_IMAGE={{ nextcloud_harp_image }}
NEXTCLOUD_HARP_PORT={{ nextcloud_harp_port }}
NEXTCLOUD_HARP_FRP_PORT={{ nextcloud_harp_frp_port }}
NEXTCLOUD_HARP_SHARED_KEY={{ vault_nextcloud_harp_shared_key }}
NEXTCLOUD_TRANSLATE2_IMAGE={{ nextcloud_translate2_image }}
NEXTCLOUD_TRANSLATE2_VERSION={{ nextcloud_translate2_version }}
NEXTCLOUD_TRANSLATE2_PORT={{ nextcloud_translate2_port }}
NEXTCLOUD_TRANSLATE2_APP_SECRET={{ vault_nextcloud_translate2_app_secret }}
NEXTCLOUD_LIVE_TRANSCRIPTION_IMAGE={{ nextcloud_live_transcription_image }}
NEXTCLOUD_LIVE_TRANSCRIPTION_VERSION={{ nextcloud_live_transcription_version }}
NEXTCLOUD_LIVE_TRANSCRIPTION_PORT={{ nextcloud_live_transcription_port }}
NEXTCLOUD_LIVE_TRANSCRIPTION_WORKERS={{ nextcloud_live_transcription_workers }}
NEXTCLOUD_LIVE_TRANSCRIPTION_APP_SECRET={{ vault_nextcloud_live_transcription_app_secret }}
NEXTCLOUD_TALK_HPB_URL=wss://{{ nextcloud_talk_host }}/spreed
NEXTCLOUD_TALK_INTERNAL_SECRET={{ nextcloud_talk_internal_secret }}
