LEFT_IP=10.30.0.27
ARC_IP=10.30.0.28
MEDIA_PATH=/mnt/warm/jellyfin
TZ=America/Denver
AUTOPULSE_USERNAME=
AUTOPULSE_PASSWORD=
JELLYFIN_API_KEY=
JELLYFIN_USER_ID=
STREAMYSTATS_SESSION_SECRET=
STREAMYSTATS_POSTGRES_PASSWORD=
AUDIOMUSE_POSTGRES_PASSWORD=
EXPLO_USERNAME=
EXPLO_PASSWORD=
CLIPARR_APP_KEY=
QBITTORRENT_USERNAME=admin
QBITTORRENT_PASSWORD=
AUDIOMUSE_ADMIN_USER=antblu
AUDIOMUSE_ADMIN_PASSWORD=
